<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Proyecto</title>
</head>
<body>
    

    <h1> Primer Proyecto !!</h1>

    <p> Hola {{nombre}} {{apellido}} edad: {{edad}}</p>
    <p>Fecha: {{fecha}}</p>

    <img src="https://cdn11.bigcommerce.com/s-n2pgpewhfn/images/stencil/500x659/products/1323783/1286473/SMT-D3-N-SO-N-lg__38265.1638183401.jpg?c=2"

</body>
</html>